@font-face {
  font-family: "IBM Plex Sans", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap);
}

body {
  background-color: #f4f5f7;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}
.sidebar {
  width: 70px;
  height: 100%;
  background-color: #0d28a6;
  margin-left: 12px !important;
}
.btn-primary {
  border: 1px solid #0d28a6;
  background-color: #0d28a6;
  color: white;
}
.btn-outline-primary {
  border: 1px solid #0d28a6;
  background-color: #cfd4ed;
  color: #0d28a6;
}
.btn-outline-primary:hover {
  border: 1px solid #0d28a6;
  background-color: #0d28a6;
}
.sidebar-collapse {
  width: 210px;
  height: 95vh;
  background-color: #ffffff;
  margin-left: 13px;
}
.col-maxcontent {
  width: max-content;
}
.collapse-button {
  margin-left: 123px;
}
.side-item-active {
  background-color: rgba(255, 255, 255, 0.3);
  height: 64px;
}
.pfp {
  margin-left: 1.5rem;
}
.rm-padding {
  padding: 0 !important;
}
.top-element {
  z-index: 5;
}
.bot-element {
  z-index: 1;
}
.side-font {
  color: white;
  font-size: small;
}
.breadcrumb {
  margin-top: 32px;
}
.sidebar-collapse-menu {
  margin-top: 32px;
  margin-bottom: 27px;
}
.sidebar-collapse-item {
  background-color: #cfd4ed;
  height: 42px;
}
.card-listcar {
  width: 351px !important;
}
.btn-deledit {
  width: 143.5px;
  height: 48px;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: green;
  content: url(./images/chevright.svg);
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: green; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 100px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 1s, fadeout 1s 2.5s;
  animation: fadein 1s, fadeout 1s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
